FORMAT: 1A
HOST: http://tubis.cz/api/v1/

# Tubis

Tubis API is the REST API project for managing events, users, documents, etc.

# Data Structures

## Auth (object)
+ username: "hrabalo" (string, required)
+ password: "123456" (string, required)

## Role (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ role: "ADMIN" (string, required)

## User (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ username: "hrabalo" (string, required)
+ forename: "Ondřej" (string, required)
+ surname: "Hrabal" (string, required)
+ role: "ADMIN" (string, required)
+ active: true (boolean, required)

## User Password (object)
+ password: "123456" (string, required)

## Report (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ automatic: true (boolean, required)
+ source: "KERBEROS" (string, required)
+ title: "Rozbitá žárovka" (string, required)
+ priority: 1 (number, required)
+ description: Car stops in tunnel (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ processed: "2014-09-11T17:02:27.761+02:00" (string, required)
+ operator: 45 (number, optional)
+ events: [] (array[SimpleEvent], optional)

## Reports (object)
+ reports: [] (array[Report], required)

## ReportSeverity (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ name: "Běžná událost" (string, required)

## ReportParentType (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ code: "010" (string, required)
+ name: "Pořár" (string, required)

## ReportType (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ code: "011" (string, required)
+ name: "Požár v tunelovém komplexu" (string, required)
+ priority: 99 (number, required)

## ReportSource (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ name: "SMS" (string, required)

## ReportState (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ state: "NEW" (string, required)

## SimpleEvent (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár v tunelu" (string, required)
+ state: "NEW" (string, required)

## Severity (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ name: "běžná událost BU" (string, required)

## EventType (object)
+ code: "010" (string, required)
+ name: "Zvýšení obsahu škodlivin v ovzduší nad kritický limit" (string, required)
+ priority: 99 (number, required)

## Owner (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ forename: "Jan" (string, required)
+ surname: "Dlaždička" (string, required)

## Event (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár" (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ closed: "2014-09-11T17:02:27.761+02:00" (string, required)
+ state: "NEW" (string, required)
+ location: "Sektor C1" (string, optional)
+ type: {} (EventType, required)
+ severity: {} (Severity, required)
+ owner: {} (Owner, required)
+ comment: "Nahlášeno z více zdrojů" (string, required)
+ reports: ["125f9669-af7a-4eeb-b7e5-7f1d7286e195", "e27164e8-f8cd-47df-a5af-1c121e9aa94a"] (array[string], required)
+ steps: {} (EventSteps, required)
+ contacts: [] (array[Contact], optional)
+ attachments: [] (array[Attachment], optional)


## Contact (object)
+ title: "PČR" (string, required)
+ name: "plk. Petr Dostřel" (string, optional)
+ phone: "+420777888999" (string, optional)
+ email: "pmc1@praha.cz" (string, optional)

## Attachment (object)
+ link: "http://tubis/api/v1/attachmens/1" (string, required)
+ name: "Photo.jpg"

## EventSteps (object)
+ technology: [] (array[EventStep], required)
+ traffic: [] (array[EventStep], required)
+ other: [] (array[EventStep], required)

## EventStep (object) 
+ id: "e27164e8-f8cd-47df-a5af-1c121e9aa94a" (string, required)
+ position: 1 (number, required)
+ comment: "Nepodařilo se dovolat" (string, optional)
+ description: "Zavolej na PČR" (string, required)
+ closed: "2014-09-11T17:02:27.761+02:00" (string, required)
+ attachments: [] (array[Attachment], required)
+ contacts: [] (array[Contact], required)
+ documents: [] (array[Attachment], required)

## Events (object)
+ events: [] (array[Event], required)



# Group Authentication resources
The authentication resources can be used for **log in** and **log out** the user to the Tubis application.

## Authentication [/tunnels/{tunnelId}/authentication]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Login [POST]
-----------
**Returns the private api token key for the user with its validity**

-----------

+ Request
    + Attributes (Auth)
    
    + Header
    
            Content-Type: application/json

    + Body
    
            {
                "username" : "username",
                "password" : "123456"
            }

+ Response 200 (application/json)

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    
    + Body

            {
                "token": "fc7ef14ba27e29c89ec640cec3b91fb374db9b5abaa5e4699680c8c561bd9f5a",
                "validity": "2015-09-09T21:58:31+02:00",
                "role": "ADMIN"
            }

+ Response 400
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Logout [DELETE]
-----------
**Logs out the user by the Api-Key, if the response is successful.**

-----------

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Reconnect [PUT]
-----------
**Reconnects the user by the Api-Key, if the response is successful.**

-----------

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
    + Body

            {
                "validity": "2015-09-09T21:58:31+02:00"
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


# Group Role resources
The role resources can be used for managing user roles.

## Role collection [/tunnels/{tunnelId}/roles]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get all roles [GET]
-----------
**Returns all roles.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Role)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    
            {
                "roles": [
                    {
                        "id": "ce1ffea6-b59d-4135-8ffe-6f77bfc14028",
                        "role": "ADMIN"
                    },
                    {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "role": "OPERATOR"
                    },
                    {
                        "id": "bc93fdec-7b57-4c3b-a232-5cd112308b58",
                        "role": "POLICE"
                    }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

# Group User resources
The user resources can be used for managing users.

## User collection [/tunnels/{tunnelId}/users]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get all users [GET]
-----------
**Returns all users.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (User)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    
            {
                "users": [
                    {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "email": "hrabalo@quanti.cz",
                        "username": "hrabadlo",
                        "forename": "Ondřej",
                        "surname": "Schrabal",
                        "role": "ADMIN",
                        "active": false
                    },
                    {
                        "id": "125f9669-af7a-4eeb-b7e5-7f1d7286e195",
                        "email": "blazekv@quanti.cz",
                        "username": "blazekv",
                        "forename": "Vlastislav",
                        "surname": "Blažek",
                        "role": "OPERATOR",
                        "active": true
                    }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Create user [POST]
-----------
**Creates user.**

+ Request
    + Attributes (User)
    
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>
    
    + Body 
    
            {
                "email": "blazekv@quanti.cz",
                "username": "blazekv",
                "forename": "Vlastislav",
                "surname": "Blažek",
                "role": "OPERATOR",
                "password": "xxxxx",
                "active": true
            }
            
+ Response 201 (application/json)
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            Location: /tunnels/{tunnelId}/users/{id}
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## User [/tunnels/{tunnelId}/users/{id}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `b63b6226-0978-4155-8249-1ca396f6c7e7`) ... String `id`which can identify user.

### Get user data [GET]
-----------
**Get user.**

+ Request
    + Attributes (User)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
            
    + Body
    
            {
                "id": "125f9669-af7a-4eeb-b7e5-7f1d7286e195",
                "email": "blazekv@quanti.cz",
                "username": "hrabalo",
                "forename": "Ondřej",
                "surname": "Hrabal",
                "role": "ADMIN",
                "active": true
            }

+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Update user data [PUT]
-----------
**Update user.**

+ Request
    + Attributes (User)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body
    
            {
                "email": "blazekv@quanti.cz",
                "username": "hrabalo",
                "forename": "Ondřej",
                "surname": "Hrabal",
                "role": "ADMIN",
                "active": true
            }

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00

+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Delete user [DELETE]
-----------
**Deactivate user.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## User password [/tunnels/{tunnelId}/users/{id}/password]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `b63b6226-0978-4155-8249-1ca396f6c7e7`) ... String `id`which can identify user.

### Update user password [PUT]
-----------
**Change user password.**

+ Request
    + Attributes (User Password)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body
    
            {
                "password": "123456"
            }

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

# Group Event resources
The event resources can be used for managing events.

## Event collection [/tunnels/{tunnelId}/events]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get all events [GET]
-----------
**Returns all events.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Event)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    
            {
              "events": [
                {
                  "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                  "created": "2014-09-11T17:02:27.761+02:00",
                  "closed":  "2014-09-11T17:02:27.761+02:00",
                  "type": {
                    "code": "011",
                    "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit",
                    "priority": 6
                  },
                  "severity": {
                    "id": "1",
                    "name": "běžná událost BU"
                  },
                  "owner": {
                    "id": 1,
                    "forename": "Jan",
                    "surname": "Dlaždička"
                  },
                  "steps": {
                    "technology" : [
                      {
                        "id": 1,
                        "position": 1,
                        "comment": "Nepodařilo se dovolat",
                        "description": "Zavolej na PČR",
                        "closed": "2014-09-11T17:02:27.761+02:00",
                        "attachments": []
                      }
                    ],
                    "traffic" : [
                      {
                        "id": 1,
                        "position": 1,
                        "comment": "Nepodařilo se dovolat",
                        "description": "Zavolej na PČR",
                        "closed": "2014-09-11T17:02:27.761+02:00",
                        "attachments": []
                      }
                    ],
                    "other" : [
                      
                    ]
                  },
                  "reports": [1,3,4]
                }
              ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Single event [/tunnels/{tunnelId}/events/{id}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify event.

### Get single event [GET]
-----------
**Returns single event.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Event)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
              "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
              "created": "2014-09-11T17:02:27.761+02:00",
              "closed":  "2014-09-11T17:02:27.761+02:00",
              "type": {
                "code": "011",
                "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit",
                "priority": 6
              },
              "severity": {
                "id": "1",
                "name": "běžná událost BU"
              },
              "owner": {
                "id": 1,
                "forename": "Jan",
                "surname": "Dlaždička"
              },
              "steps": {
                "technology" : [
                  {
                    "id": 1,
                    "position": 1,
                    "comment": "Nepodařilo se dovolat",
                    "description": "Zavolej na PČR",
                    "closed": "2014-09-11T17:02:27.761+02:00",
                    "attachments": []
                  }
                ],
                "traffic" : [
                  {
                    "id": 1,
                    "position": 1,
                    "comment": "Nepodařilo se dovolat",
                    "description": "Zavolej na PČR",
                    "closed": "2014-09-11T17:02:27.761+02:00",
                    "attachments": []
                  }
                ],
                "other" : [
                  
                ]
              },
              "reports": [1,3,4]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


## Event step collection [/tunnels/{tunnelId}/events/steps]
## Event document collection [/tunnels/{tunnelId}/events/documents]

# Group Documents resources
The documentation resources can be used for managing tunel information.

## Document collection [/tunnels/{tunnelId}/documents]
## Photo document collection [/tunnels/{tunnelId}/documents/photos]
## Archive document collection [/tunnels/{tunnelId}/documents/archives]
## Document collection [/tunnels/{tunnelId}/documents/schemas]

# Group Schedulers resources
The scheduler resources can be used for managing automatic schedule events.

## Scheduler collection [/tunnels/{tunnelId}/schedulers]

# Group Reports resources
The report resources can be used for managing reports.

## Report collection [/tunnels/{tunnelId}/reports/{?states}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + states (optional, string, `new`) .. String state which can filter reports.

### Get all reports [GET]
-----------
**Returns all reports.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Reports)
    
    + Body 
    
            {
              "reports": [
                {
                  "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                  "type": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "code": "021",              
                    "name": "Kočička v šachtě"
                  },
                  "automatic": false,
                  "note": "Kočička v šachtě",
                  "description": "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
                  "author": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "forename": "Jan",
                    "surname": "Tunelář"
                  },
                  "source": "PHONE",
                  "state": "NEW",
                  "priority": 1,
                  "created": "2014-10-20T17:11:27.761+02:00",
                  "processed": "2015-10-20T17:11:27.761+02:00",
                  "events": [
                    {
                        "id": 1,
                        "title": "Lov koček",
                        "state": "NEW"
                    },
                    {
                        "id": 2,
                        "title": "Neoprávněné vniknutí",
                        "state": "CLOSED"
                    }
                  ]
                },
                {
                  "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                  "type": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "code": "021",              
                    "name": "Kočička v šachtě"
                  },
                  "automatic": false,
                  "note": "Kočička v šachtě",
                  "description": "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
                  "author": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "forename": "Jan",
                    "surname": "Tunelář"
                  },
                  "source": "PHONE",
                  "state": "NEW",
                  "priority": 1,
                  "created": "2014-10-20T17:11:27.761+02:00",
                  "processed": "2015-10-20T17:11:27.761+02:00",
                  "events": [
                    {
                        "id": 1,
                        "title": "Lov koček",
                        "state": "NEW"
                    },
                    {
                        "id": 2,
                        "title": "Neoprávněné vniknutí",
                        "state": "CLOSED"
                    }
                  ]
                }
              ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Create report [POST]
-----------
**Creates report.**

+ Request
    + Attributes (Report)
    
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>
    
    + Body 
    
            {
              "type": "021",
              "note": "Kočička v šachtě",
              "description":  "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
              "source": "PHONE",
              "state": "DONE",
              "priority": 1,
              "created": "2014-10-20T17:11:27.761+02:00"
            }
            
+ Response 201 (application/json)
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            Location: /tunnels/{tunnelId}/reports/{id}
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Single report [/tunnels/{tunnelId}/reports/{id}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify report.

### Get single reports [GET]
-----------
**Returns single report.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Reports)
    
    + Body 
    

            {
              "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
              "type": {
                "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                "code": "021",              
                "name": "Kočička v šachtě"
              },
              "automatic": false,
              "note": "Kočička v šachtě",
              "description": "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
              "author": {
                "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                "forename": "Jan",
                "surname": "Tunelář"
              },
              "source": "PHONE",
              "state": "NEW",
              "priority": 1,
              "created": "2014-10-20T17:11:27.761+02:00",
              "processed": "2015-10-20T17:11:27.761+02:00",
              "events": [
                {
                    "id": 1,
                    "title": "Lov koček",
                    "state": "NEW"
                },
                {
                    "id": 2,
                    "title": "Neoprávněné vniknutí",
                    "state": "CLOSED"
                }
              ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report severities collection [/tunnels/{tunnelId}/reports/severities]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report severities collection [GET]
-----------
**Returns all report severities.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportSeverity)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "severities": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "severity": "COMMONOCCURRENCE"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "severity": "CRISISSITUATION"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report parent types collection [/tunnels/{tunnelId}/reports/parent-types]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report parent types collection [GET]
-----------
**Returns all report parent types.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportParentType)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "parentTypes": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "code": "010",
                        "name": "Požár v tunelu"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "code": "020",
                        "name": "Jiné nebezpečí"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report types by parent type collection [/tunnels/{tunnelId}/reports/parent-types/{id}/types]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify report parent type.

### Get report types collection by parent type id [GET]
-----------
**Returns all report types by parent type id.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportType)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "types": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "code": "011",
                        "name": "Požár v dopravním prostoru",
                        "priority": 5
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "code": "012",
                        "name": "Požár v technologickém prostoru",
                        "priority": 1
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report sources collection [/tunnels/{tunnelId}/reports/sources]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report sources collection [GET]
-----------
**Returns all report sources.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportSource)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "sources": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "source": "SMS"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "source": "Email"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "source": "CCTV dohled"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "source": "Telefon"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report states collection [/tunnels/{tunnelId}/reports/states]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report states collection [GET]
-----------
**Returns all report states.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportState)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "states": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "state": "NEW"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "state": "DONE"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503