FORMAT: 1A
HOST: http://tubis.cz/api/v1/

# Tubis

Tubis API is the REST API project for managing events, users, documents, etc.

# Data Structures

## Auth (object)
+ username: "hrabalo" (string, required)
+ password: "123456" (string, required)

## Role (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ role: "ADMIN" (string, required)

## User (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ username: "hrabalo" (string, required)
+ forename: "Ondřej" (string, required)
+ surname: "Hrabal" (string, required)
+ role: "ADMIN" (string, required)
+ active: true (boolean, required)

## User Password (object)
+ password: "123456" (string, required)

## Report (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ automatic: true (boolean, required)
+ source: "KERBERUS" (string, required)
+ title: "Rozbitá žárovka" (string, required)
+ severity: {} (ReportSeverity, required)
+ priority: 1 (number, required)
+ description: Car stops in tunnel (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ processed: "2014-09-11T17:02:27.761+02:00" (string, required)
+ author: {} (Author, optional)
+ type: {} (ReportType, optional)
+ parentType: {} (ReportParentType, required)
+ events: [] (array[SimpleEvent], optional)

## Reports (object)
+ reports: [] (array[Report], required)

## ReportSeverity (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ name: "Běžná událost" (string, required)

## ReportParentType (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ code: "010" (string, required)
+ name: "Pořár" (string, required)

## ReportType (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ code: "011" (string, required)
+ name: "Požár v tunelovém komplexu" (string, required)
+ priority: 99 (number, required)

## ReportSource (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ name: "SMS" (string, required)

## ReportState (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ state: "NEW" (string, required)

## SimpleEvent (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár v tunelu" (string, required)
+ state: "NEW" (string, required)

## Severity (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ name: "běžná událost BU" (string, required)

## EventType (object)
+ code: "010" (string, required)
+ name: "Zvýšení obsahu škodlivin v ovzduší nad kritický limit" (string, required)
+ priority: 99 (number, required)

## Author (object)
+ forename: "Jan" (string, required)
+ surname: "Dlaždička" (string, required)

## Owner (object)
+ locked: true (string, required) - This is set to false for person who locked the event/step/form.
+ forename: "Jan" (string, required)
+ surname: "Dlaždička" (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)

## Event (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár" (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ closed: "2014-09-11T17:02:27.761+02:00" (string, required)
+ state: "NEW" (string, required)
+ source: "KERBERUS" (string, required)
+ form: {} (Form, required)
+ location: "Sektor C1" (string, optional)
+ type: {} (EventType, required)
+ severity: {} (Severity, required)
+ owner: {} (Owner, optional)
+ author: {} (Author, required)
+ remark: "Nahlášeno z více zdrojů" (string, required)
+ reports: ["125f9669-af7a-4eeb-b7e5-7f1d7286e195", "e27164e8-f8cd-47df-a5af-1c121e9aa94a"] (array[string], required)
+ steps: {} (EventSteps, required)
+ contacts: [] (array[Contact], optional)
+ attachments: [] (array[Attachment], optional)

## EventLock  (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár" (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ state: "NEW" (string, required)
+ source: "KERBERUS" (string, required)
+ location: "Sektor C1" (string, optional)
+ type: {} (EventType, required)
+ severity: {} (Severity, required)
+ owner: {} (Owner, required)
+ author: {} (Author, required)

## Contact (object)
+ title: "PČR" (string, optional)
+ workplace: "odtahy" (string, optional)
+ position: "plk." (string, optional)
+ Firstname: "Petr" (string, optional)
+ Surname: "Dostřel" (string, optional)
+ phone: "+420777888999" (string, optional)
+ mobile: "+420777888999" (string, optional)
+ email: "pmc1@praha.cz" (string, optional)
+ analogrdst: "159 Mhz" (string, optional)
+ pegas: "kanal 112" (string, optional)

## AttachmentData (object)
+ content: "data:image/png;base64,iVBORw0KGgoAAA..." (string, required)
+ contentType: "image/jpeg" (string, required)
+ filename: "Photo.jpg" (string, required)

## Attachment (object)
+ id: 1 (number, required)
+ link: "http://tubis/api/v1/attachmens/1" (string, required)
+ name: "Photo.jpg"

## EventSteps (object)
+ technology: [] (array[EventStep], required)
+ traffic: [] (array[EventStep], required)
+ other: [] (array[EventStep], required)

## EventStep (object) 
+ id: "e27164e8-f8cd-47df-a5af-1c121e9aa94a" (string, required)
+ heading: "Permoník v šachtě" (string, required)
+ position: 1 (number, required)
+ slot: 1 (number, required)
+ remark: "Nepodařilo se dovolat" (string, optional)
+ owner: {} (Owner, optional)
+ description: "Zavolej na PČR" (string, optional)
+ closed: "2014-09-11T17:02:27.761+02:00" (string, required)
+ attachments: [] (array[Attachment], required)
+ contacts: [] (array[Contact], required)
+ documents: [] (array[Attachment], required)

## EventFormLock (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár" (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ state: "NEW" (string, required)
+ source: "KERBERUS" (string, required)
+ location: "Sektor C1" (string, optional)
+ type: {} (EventType, required)
+ severity: {} (Severity, required)
+ author: {} (Author, required)
+ form: [] (Form, required)

## EventStepLock (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ title: "Požár" (string, required)
+ created: "2014-09-11T17:02:27.761+02:00" (string, required)
+ state: "NEW" (string, required)
+ source: "KERBERUS" (string, required)
+ location: "Sektor C1" (string, optional)
+ type: {} (EventType, required)
+ severity: {} (Severity, required)
+ author: {} (Author, required)
+ steps: [] (array[StepLock], required)

## StepLock  (object)
+ id: "125f9669-af7a-4eeb-b7e5-7f1d7286e195" (string, required)
+ position: 1 (number, required)
+ slot: 1 (number, required)
+ remark: "Nepodařilo se dovolat" (string, optional)
+ owner: {} (Owner, required)
+ description: "Zavolej na PČR" (string, required)

## Events (object)
+ events: [] (array[Event], required)

## FileInfo (object)
+ key: "bf8f98b30d254efeae7ea5f3da0091af" (string, required)
+ contentType: "image/jpeg" (string, required)
+ fileName: "test,jpg" (string, required)
+ keyWords: "test" (string, optional)
+ created: "2015-11-05T18:44:00.0508545+01:00" (datetime, required)
+ changed: "2015-11-05T18:44:00.0508545+01:00" (datetime, required)

## FileData (object)
+ key: "bf8f98b30d254efeae7ea5f3da0091af" (string, required)
+ contentType: "image/jpeg" (string, required)
+ fileName: "test,jpg" (string, required)
+ keyWords: "test" (string, optional)
+ created: "2015-11-05T18:44:00.0508545+01:00" (datetime, required)
+ changed: "2015-11-05T18:44:00.0508545+01:00" (datetime, required)
+ content: "/9j/4AAQSkZJRgAB ... X/2Q==" (string, required)

## InsertFile (object)
+ contentType: "image/jpeg" (string, required)
+ fileName: "test,jpg" (string, required)
+ keyWords: "test" (string, optional)

## UpdateFile (object)
+ key: "bf8f98b30d254efeae7ea5f3da0091af" (string, required)
+ contentType: "image/jpeg" (string, required)
+ fileName: "test,jpg" (string, required)
+ keyWords: "test" (string, optional)

## Form (object)
+ owner: {} (Owner, optional)
+ blueprint: {} (FormBlueprint, required)

## FormBlueprint (object)
+ groups: [] (array[FormGroup], required)

## FormData (object)
+ groups: [] (array[FormGroupValue], required)

## FormGroup (object)
+ label: "test,jpg" (string, required)
+ name: "confirmed" (string, required)
+ inputs: [] (array[FormInput], required)

## FormGroupValue (object)
+ name: "confirmed" (string, required)
+ inputs: [] (array[FormValue], required)

## FormInput (object)
+ order: 1 (number, optional)
+ label: "test,jpg" (string, required)
+ name: "confirmed" (string, required)
+ value: "1" (string, optional)
+ type: "checkbox" (string, required)
+ options: [] (array[InputOptions], optional)

##FormValue (object)
+ name: "confirmed" (string, required)
+ value: "1" (string, required)

## InputOptions (object)
+ value: "1" (string, required)
+ label: "Number" (string, required)

# Group Authentication resources
The authentication resources can be used for **log in** and **log out** the user to the Tubis application.

## Authentication [/tunnels/{tunnelId}/authentication]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Login [POST]
-----------
**Returns the private api token key for the user with its validity**

-----------

+ Request
    + Attributes (Auth)
    
    + Header
    
            Content-Type: application/json

    + Body
    
            {
                "username" : "username",
                "password" : "123456"
            }

+ Response 200 (application/json)

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    
    + Body

            {
                "id": "125f9669-af7a-4eeb-b7e5-7f1d7286e195",
                "token": "fc7ef14ba27e29c89ec640cec3b91fb374db9b5abaa5e4699680c8c561bd9f5a",
                "validity": "2015-09-09T21:58:31+02:00",
                "role": "ADMIN"
            }

+ Response 400
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Logout [DELETE]
-----------
**Logs out the user by the Api-Key, if the response is successful.**

-----------

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Reconnect [PUT]
-----------
**Reconnects the user by the Api-Key, if the response is successful.**

-----------

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
    + Body

            {
                "validity": "2015-09-09T21:58:31+02:00"
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


# Group Role resources
The role resources can be used for managing user roles.

## Role collection [/tunnels/{tunnelId}/roles]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get all roles [GET]
-----------
**Returns all roles.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Role)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    
            {
                "roles": [
                    {
                        "id": "ce1ffea6-b59d-4135-8ffe-6f77bfc14028",
                        "role": "ADMIN"
                    },
                    {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "role": "OPERATOR"
                    },
                    {
                        "id": "bc93fdec-7b57-4c3b-a232-5cd112308b58",
                        "role": "POLICE"
                    }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

# Group User resources
The user resources can be used for managing users.

## User collection [/tunnels/{tunnelId}/users]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get all users [GET]
-----------
**Returns all users.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (User)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    
            {
                "users": [
                    {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "email": "hrabalo@quanti.cz",
                        "username": "hrabadlo",
                        "forename": "Ondřej",
                        "surname": "Schrabal",
                        "role": "ADMIN",
                        "active": false
                    },
                    {
                        "id": "125f9669-af7a-4eeb-b7e5-7f1d7286e195",
                        "email": "blazekv@quanti.cz",
                        "username": "blazekv",
                        "forename": "Vlastislav",
                        "surname": "Blažek",
                        "role": "OPERATOR",
                        "active": true
                    }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Create user [POST]
-----------
**Creates user.**

+ Request
    + Attributes (User)
    
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>
    
    + Body 
    
            {
                "email": "blazekv@quanti.cz",
                "username": "blazekv",
                "forename": "Vlastislav",
                "surname": "Blažek",
                "role": "OPERATOR",
                "password": "xxxxx",
                "active": true
            }
            
+ Response 201 (application/json)
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            Location: /tunnels/{tunnelId}/users/{id}
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## User [/tunnels/{tunnelId}/users/{id}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `b63b6226-0978-4155-8249-1ca396f6c7e7`) ... String `id`which can identify user.

### Get user data [GET]
-----------
**Get user.**

+ Request
    + Attributes (User)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
            
    + Body
    
            {
                "id": "125f9669-af7a-4eeb-b7e5-7f1d7286e195",
                "email": "blazekv@quanti.cz",
                "username": "hrabalo",
                "forename": "Ondřej",
                "surname": "Hrabal",
                "role": "ADMIN",
                "active": true
            }

+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Update user data [PUT]
-----------
**Update user.**

+ Request
    + Attributes (User)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body
    
            {
                "email": "blazekv@quanti.cz",
                "username": "hrabalo",
                "forename": "Ondřej",
                "surname": "Hrabal",
                "role": "ADMIN",
                "active": true
            }

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00

+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Delete user [DELETE]
-----------
**Deactivate user.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## User password [/tunnels/{tunnelId}/users/{id}/password]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `b63b6226-0978-4155-8249-1ca396f6c7e7`) ... String `id`which can identify user.

### Update user password [PUT]
-----------
**Change user password.**

+ Request
    + Attributes (User Password)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body
    
            {
                "password": "123456"
            }

+ Response 204

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

# Group Event resources
The event resources can be used for managing events.

## Event collection [/tunnels/{tunnelId}/events]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get all events [GET]
-----------
**Returns all events.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Event)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    
            {
              "events": [
                {
                  "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                  "created": "2014-09-11T17:02:27.761+02:00",
                  "closed":  "2014-09-11T17:02:27.761+02:00",
                  "type": {
                    "code": "011",
                    "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit",
                    "priority": 6
                  },
                  "severity": {
                    "id": "1",
                    "name": "běžná událost BU"
                  },
                  "author": {
                    "id": 1,
                    "forename": "Jan",
                    "surname": "Dlaždička"
                  },
                  "reports": [1,3,4]
                }
              ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Events lock [/tunnels/{tunnelId}/events?locked=true]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get locked events [GET]


+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json) 
    + Attributes (EventLock)

    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    + Body
    
            {
                "events": [
                    {
                      "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                      "title": "Prasklé potrubí",
                      "location": "Potrubí",
                      "source": "KERBERUS",
                      "priority": 6,
                      "created": "2014-09-11T17:02:27.761+02:00",
                      "type": {
                        "code": "011",
                        "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit"
                      },
                      "severity": {
                        "id": "1",
                        "name": "běžná událost BU"
                      },
                      "author": {
                        "id": 1,
                        "forename": "Jan",
                        "surname": "Dlaždička"
                      },
                      "owner": {
                        "id": 1,
                        "locked": true,
                        "forename": "Jan",
                        "surname": "Dlaždička",
                        "created": "2014-09-11T17:02:27.761+02:00"
                       }
                    }
                ]
            }

+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Events form lock [/tunnels/{tunnelId}/events/form?locked=true]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get locked events [GET]


+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json) 
    + Attributes (EventFormLock)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    + Body
    
            {
                "events": [
                    {
                      "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                      "title": "Prasklé potrubí",
                      "location": "Potrubí",
                      "source": "KERBERUS",
                      "priority": 6,
                      "created": "2014-09-11T17:02:27.761+02:00",
                      "type": {
                        "code": "011",
                        "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit"
                      },
                      "severity": {
                        "id": "1",
                        "name": "běžná událost BU"
                      },
                      "author": {
                        "id": 1,
                        "forename": "Jan",
                        "surname": "Dlaždička"
                      },
                      "form": {
                        "owner": {
                            "id": 3,
                            "locked": true,
                            "forename": "Pepa",
                            "surname": "Z depa",
                            "created": "2015-10-12T18:02:24.047+0:00"
                        }
                    }
                ]
            }

+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Events steps lock [/tunnels/{tunnelId}/events/steps?locked=true]

**This resource will also setup started on the step, if is not setup.**

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get events steps locks [GET]

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)
    + Attributes (EventLock)
    
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
    + Body
    
            {
                "events": [
                     {
                      "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                      "title": "Prasklé potrubí",
                      "location": "Potrubí",
                      "source": "KERBERUS",
                      "priority": 6,
                      "created": "2014-09-11T17:02:27.761+02:00",
                      "type": {
                        "code": "011",
                        "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit"
                      },
                      "severity": {
                        "id": "1",
                        "name": "běžná událost BU"
                      },
                      "steps": {
                        "technology": [
                          {
                            "id": 1,
                            "position": 1,
                            "heading": "Permoník v šachtě",
                            "slot": 2,
                            "remark": "Nepodařilo se dovolat",
                            "description": "Zavolej na PČR",
                            "owner": {
                                "id": 1,
                                "locked": true,
                                "forename": "Jan",
                                "surname": "Dlaždička",
                                "created": "2014-09-11T17:02:27.761+02:00"
                            }
                          },
                          {
                            "id": 2,
                            "position": 4,
                            "slot": 1,
                            "remark": "",
                            "heading": "Volání o pomoc",
                            "description": "Zavolej na dispecerovi",
                            "owner": {
                                "id": 5,
                                "locked": false,
                                "forename": "Tomas",
                                "surname": "Marny",
                                "created": "2014-09-11T17:02:27.761+02:00"
                            }
                          }
                        ],
                        "traffic": [
                          {
                            "id": 3,
                            "position": 1,
                            "slot": 2,
                            "heading": "Volání o pomoc 2",
                            "remark": "Nepodařilo se dovolat",
                            "description": "Zavolej na PČR",
                            "owner": {
                                "id": 3,
                                "locked": true,
                                "forename": "Pepa",
                                "surname": "Z depa",
                                "created": "2015-10-12T18:02:24.047+0:00"
                            }
                          }
                        ]
                      }
                    }
                ]
            }
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Single event [/tunnels/{tunnelId}/events/{id}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify event.

### Get single event [GET]
-----------
**Returns single event.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Event)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
              "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
              "title": "Prasklé potrubí",
              "location": "Potrubí",
              "source": "KERBERUS",
              "created": "2014-09-11T17:02:27.761+02:00",
              "closed":  "2014-09-11T17:02:27.761+02:00",
              "type": {
                "code": "011",
                "name": "Zvýšení obsahu škodlivin v ovzduší nad kritický limit",
                "priority": 6
              },
              "severity": {
                "id": "1",
                "name": "běžná událost BU"
              },
              "author": {
                "id": 1,
                "forename": "Jan",
                "surname": "Dlaždička"
              },
              "form": {
                "owner": {
                    "id": 3,
                    "locked": true,
                    "forename": "Pepa",
                    "surname": "Z depa",
                    "created": "2015-10-12T18:02:24.047+0:00"
                },
                "blueprint": {
                  "groups": [
                    {
                      "label": "Průběh řešení události",
                      "name": "ts1",
                      "inputs": [
                        {
                          "order": 1,
                          "label": "Vytvořeno",
                          "name": "created",
                          "type": "text",
                          "placeholder": "tohle je text",
                          "value": "Hodnota pole"
                        },
                        {
                          "order": 2,
                          "label": "Uzavřeno",
                          "name": "closed",
                          "type": "radio"
                        },
                        {
                          "order": 4,
                          "label": "Komentář",
                          "name": "comment",
                          "type": "datetime",
                          "value": "2015-10-12T18:02:24.047+01:00"
                        },
                        {
                          "order": 5,
                          "label": "Výběr",
                          "name": "selection",
                          "type": "select",
                          "value": "2",
                          "options": [
                            {
                              "value": 1,
                              "label": "test1"
                            },
                            {
                              "value": 2,
                              "label": "test2"
                            }
                          ]
                        },
                        {
                          "order": 3,
                          "label": "Výběr 2",
                          "name": "asdd",
                          "type": "radiolist",
                          "options": [
                            {
                              "value": 1,
                              "label": "test1"
                            },
                            {
                              "value": 2,
                              "label": "test2"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "label": "Průběh řešení události 2",
                      "name": "ts2",
                      "inputs": [
                        {
                          "label": "Vytvořeno",
                          "name": "created",
                          "type": "text",
                          "placeholder": "tohle je text"
                        },
                        {
                          "label": "Uzavřeno",
                          "name": "closed",
                          "type": "radio"
                        },
                        {
                          "label": "Komentář",
                          "name": "comment",
                          "type": "datetime"
                        },
                        {
                          "label": "Výběr",
                          "name": "selection",
                          "type": "select",
                          "options": [
                            {
                              "value": 1,
                              "label": "test1"
                            },
                            {
                              "value": 2,
                              "label": "test2"
                            }
                          ]
                        },
                        {
                          "label": "Výběr 2",
                          "name": "asdd",
                          "type": "radiolist",
                          "options": [
                            {
                              "value": 1,
                              "label": "test1"
                            },
                            {
                              "value": 2,
                              "label": "test2"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
              "steps": {
                "technology" : [
                  {
                    "id": 1,
                    "position": 1,
                    "remark": "Nepodařilo se dovolat",
                    "description": "Zavolej na PČR",
                    "closed": "2014-09-11T17:02:27.761+02:00",
                    "attachments": []
                  }
                ],
                "traffic" : [
                  {
                    "id": 1,
                    "position": 1,
                    "remark": "Nepodařilo se dovolat",
                    "description": "Zavolej na PČR",
                    "closed": "2014-09-11T17:02:27.761+02:00",
                    "attachments": []
                  }
                ],
                "other" : [
                  
                ]
              },
              "reports": [1,3,4]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Update single event [PUT]
-----------
**Update single event.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body 
    
            {
                  "location": "Potrubí",
                  "source": "CCTV",
                  "title": "Prasklé potrubí"
            }

+ Response 204
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event start [/tunnels/{tunnelId}/events/{id}/started]

### Update event started [PUT]
-----------
**It will change started timestamp only for the first time. It will set started to now.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event lock [/tunnels/{tunnelId}/events/{id}/lock]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify event.

### Create or refresh event lock [PUT]


+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Delete event lock [DELETE]

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


## Update event form data [/tunnels/{tunnelId}/events/{id}/form/data]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify event.

### Update form data [PUT]


+ Request

    + Attributes (FormData)

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body
    
            {
                "groups": [
                    {
                        "name": "default",
                        "inputs": [
                            {
                                "name": "created",
                                "value": "2015-10-12T18:02:24.047+01:00"
                            },
                            {
                                "name": "text",
                                "value": "Vuz prijel pozde"
                            },
                        ]
                    },
                    {
                        "name": "group1",
                        "inputs": [
                            {
                                "name": "created",
                                "value": "2015-10-12T18:02:24.047+01:00"
                            },
                            {
                                "name": "text",
                                "value": "Vuz prijel pozde"
                            },
                        ]
                    }
                ]
            }

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event form lock [/tunnels/{tunnelId}/events/{id}/form/lock]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify event.

### Create or refresh event form lock [PUT]


+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Delete event form lock [DELETE]

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


## Event attachments [/tunnels/{tunnelId}/events/{eventId}/attachments]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    
### Create event attachment [POST]
-----------
**Create event attachment.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body 
    
            {
                "content": "data:application/pdf;base64,JVBERi0x....LjQKJ0YK="
                "contentType": "application/pdf"
                "filename": "informace.pdf"
            }

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event attachment [/tunnels/{tunnelId}/events/{eventId}/attachments/{fileId}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    + fileId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `fileId`which can identify file.
    
### Delete event attachment [DELETE]
-----------
**Delete event attachment .**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204 
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


## Single step [/tunnels/{tunnelId}/events/{eventId}/steps/{stepId}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    + stepId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `stepId`which can identify step event.

### Get single event step [GET]
-----------
**Returns single event step.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Event)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "id": 1,
                "position": 1,
                "slot": 1,
                "heading": "Volání o pomoc",
                "remark": "Nepodařilo se dovolat",
                "description": "Zavolej na PČR",
                "closed": "2014-09-11T17:02:27.761+02:00",
                "attachments": []
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Update event step [PUT]
-----------
**This will update closed everytime.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Event)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "remark": "Nepodařilo se dovolat",
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event step close [/tunnels/{tunnelId}/events/{eventId}/steps/{stepId}/closed]

**This resource will also setup started on the step, if is not setup. It will update closed attribute everytime**

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    + stepId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `stepId`which can identify step event.

### Close step [PUT]

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event step lock [/tunnels/{tunnelId}/events/{eventId}/steps/{stepId}/lock]

**This resource will also setup started on the step, if is not setup.**

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    + stepId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `stepId`which can identify step event.

### Create or refresh event step lock [PUT]

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503



### Delete event step lock [DELETE]

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503


## Event step attachments [/tunnels/{tunnelId}/events/{eventId}/steps/{stepId}/attachments]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    + stepId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `stepId`which can identify step event.

### Upload event step attachment [POST]
-----------
**Returns single event step attachment.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (AttachmentData)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "content": "data:application/pdf;base64,JVBERi0x....LjQKJ0YK="
                "contentType": "application/pdf"
                "filename": "informace.pdf"
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Single event step attachment [/tunnels/{tunnelId}/events/{eventId}/steps/{stepId}/attachments/{fileId}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.
    + stepId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `stepId`which can identify step event.
    + fileId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `fileId`which can identify file.

### Delete step attachment [DELETE]
-----------
**Delete single event step attachment.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Event step collection [/tunnels/{tunnelId}/events/steps]
## Event document collection [/tunnels/{tunnelId}/events/documents]


# Group Content Delivery Network
The CDN resource should be used to store and manage all kind of document related to the tunnel application.

## ContentTypes [/cdn/AllowedContentTypes]
List of all supported content types

### Get All supported content types [GET]
------------
**Returns dictionary with file extensions as keys and MIME types as values**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

        {
            ".evy": "application/envoy",
            ".fif": "application/fractals",
            ".spl": "application/futuresplash",
            ".hta": "application/hta",
            ".acx": "application/internet-property-stream",
            ".hqx": "application/mac-binhex40",
            ".doc": "application/msword",
            ".dot": "application/msword",
            ".bin": "application/octet-stream"
            ...
        }

## All files meta data [/cdn/FileInfos]
Offers metadata to all file in cdn

### Get all files meta data [GET]
------------
**Returns all files meta data**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

        [{
            "key": "a2edfbad2c35479daf079ed508b0576f",
            "contentType": "image/jpeg",
            "fileName": "prostenazev.jpg",
            "keyWords": "manual",
            "created": "2015-11-06T12:33:58.0342335+01:00",
            "changed": "2015-11-06T12:33:58.0342335+01:00"
        }, {
            "key": "1f85be86c15b44ffb3c3d210d4143be3",
            "contentType": "image/jpeg",
            "fileName": "obrazek.jpg",
            "keyWords": "kniha",
            "created": "2015-11-05T19:27:28.6821174+01:00",
            "changed": "2015-11-05T19:27:28.6821174+01:00"
        }]

## File meta data [/cdn/FileInfo]
Offers metadata about one file

### Get file meta data [GET]
------------
**Returns file meta data**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>
    
    + Body

            {
                "Key": "BF8F98B3-0D25-4EFE-AE7E-A5F3DA0091AF"
            }

+ Response 200 (application/json)

        {
            "key": "bf8f98b30d254efeae7ea5f3da0091af",
            "contentType": "image/jpeg",
            "fileName": "test,jpg",
            "keyWords": "test",
            "created": "2015-11-05T18:44:00.0508545+01:00",
            "changed": "2015-11-05T18:44:00.0508545+01:00"
        }

## File [/cdn/File]
File management

### Get the raw file data [GET]
------------
**Returns stream with file content**

+ Request

    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body
            
            {
                "Key": "BF8F98B3-0D25-4EFE-AE7E-A5F3DA0091AF"
            }

+ Response 200

        [12,45,..,56]
        
### Insert new file [POST] 
------------
**Inserts new file into cdn and returns it's key. Content is base64 encoded, "data:..." is neither needed, neither required**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body

            "ContentType": "image/jpeg",
            "FileName": "prostenazev.jpg",
            "KeyWords": "manual",
            "Content": "data:image/png;base64,iVBORw0KGgoAAA...",
            
+ Response 200 (application/json)

        "a2edfbad2c35479daf079ed508b0576f"
        
### Update file [PUT] 
------------
**Updates file on CDN - key required. Content is base64 encoded, "data:..." is neither needed, neither required**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body

            "Key": "bf8f98b30d254efeae7ea5f3da0091af",
            "ContentType": "image/jpeg",
            "FileName": "prostenazev.jpg",
            "KeyWords": "manual",
            "Content": "data:image/png;base64,iVBORw0KGgoAAA...",
            
+ Response 200 (application/json)

        "true"

### Delete file [DELETE] 
------------
**Deletes file on CDN**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body

            "Key": "bf8f98b30d254efeae7ea5f3da0091af",

+ Response 200 (application/json)

        "true"

## Search in cdn meta data [/cdn/search]
Tries to find text in cdn metadata

### Search in cdn [GET]
------------
**Returns file meta data array (FileInfo). Or empty array in case of no result**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

    + Body

            {
                "OnlyKeywords": "false",
                "SearchFor": "jpg"
            }

+ Response 200 (application/json)

        [{
            "key": "a2edfbad2c35479daf079ed508b0576f",
            "contentType": "image/jpeg",
            "fileName": "prostenazev.jpg",
            "keyWords": "manual",
            "created": "2015-11-06T12:33:58.0342335+01:00",
            "changed": "2015-11-06T12:33:58.0342335+01:00"
        }, {
            "key": "bf8f98b30d254efeae7ea5f3da0091af",
            "contentType": "image/jpeg",
            "fileName": "test,jpg",
            "keyWords": "manual",
            "created": "2015-11-05T18:44:00.0508545+01:00",
            "changed": "2015-11-05T18:44:00.0508545+01:00"
        }]

# Group Schedulers resources
The scheduler resources can be used for managing automatic schedule events.

## Scheduler collection [/tunnels/{tunnelId}/schedulers]

# Group Reports resources
The report resources can be used for managing reports.

## Report collection [/tunnels/{tunnelId}/reports/{?states}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + states (optional, string, `new`) .. String state which can filter reports.

### Get all reports [GET]
-----------
**Returns all reports.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Reports)
    
    + Body 
    
            {
              "reports": [
                {
                  "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                  "type": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "code": "021",              
                    "name": "Kočička v šachtě"
                  },
                  "automatic": false,
                  "note": "Kočička v šachtě",
                  "description": "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
                  "author": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "forename": "Jan",
                    "surname": "Tunelář"
                  },
                  "source": "PHONE",
                  "state": "NEW",
                  "priority": 1,
                  "created": "2014-10-20T17:11:27.761+02:00",
                  "processed": "2015-10-20T17:11:27.761+02:00",
                  "events": [
                    {
                        "id": 1,
                        "title": "Lov koček",
                        "state": "NEW"
                    },
                    {
                        "id": 2,
                        "title": "Neoprávněné vniknutí",
                        "state": "CLOSED"
                    }
                  ]
                },
                {
                  "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                  "type": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "code": "021",              
                    "name": "Kočička v šachtě"
                  },
                  "automatic": false,
                  "note": "Kočička v šachtě",
                  "description": "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
                  "author": {
                    "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                    "forename": "Jan",
                    "surname": "Tunelář"
                  },
                  "source": "PHONE",
                  "state": "NEW",
                  "priority": 1,
                  "created": "2014-10-20T17:11:27.761+02:00",
                  "processed": "2015-10-20T17:11:27.761+02:00",
                  "events": [
                    {
                        "id": 1,
                        "title": "Lov koček",
                        "state": "NEW"
                    },
                    {
                        "id": 2,
                        "title": "Neoprávněné vniknutí",
                        "state": "CLOSED"
                    }
                  ]
                }
              ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

### Create report [POST]
-----------
**Creates report.**

+ Request
    + Attributes (Report)
    
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>
    
    + Body 
    
            {
              "type": "021",
              "note": "Kočička v šachtě",
              "description":  "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
              "source": "PHONE",
              "state": "DONE",
              "priority": 1,
              "created": "2014-10-20T17:11:27.761+02:00"
            }
            
+ Response 201 (application/json)
    + Header
    
            X-Time: 2014-09-11T17:02:27.761+02:00
            Location: /tunnels/{tunnelId}/reports/{id}
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Single report [/tunnels/{tunnelId}/reports/{id}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify report.

### Get single reports [GET]
-----------
**Returns single report.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (Reports)
    
    + Body 
    

            {
              "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
              "type": {
                "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                "code": "021",              
                "name": "Kočička v šachtě"
              },
              "automatic": false,
              "note": "Kočička v šachtě",
              "description": "V šachte se vyskytla kočicka. Vydává dešsivé zvuky. Pravděpodobně v sekci C1",
              "author": {
                "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                "forename": "Jan",
                "surname": "Tunelář"
              },
              "source": "PHONE",
              "state": "NEW",
              "priority": 1,
              "created": "2014-10-20T17:11:27.761+02:00",
              "processed": "2015-10-20T17:11:27.761+02:00",
              "events": [
                {
                    "id": 1,
                    "title": "Lov koček",
                    "state": "NEW"
                },
                {
                    "id": 2,
                    "title": "Neoprávněné vniknutí",
                    "state": "CLOSED"
                }
              ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report single event [/tunnels/{tunnelId}/reports/{id}/events/{eventId}]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify report.
    + eventId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `eventId`which can identify event.

### Assign report to event [PUT]
-----------
**Returns single report.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 204
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report severities collection [/tunnels/{tunnelId}/reports/severities]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report severities collection [GET]
-----------
**Returns all report severities.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportSeverity)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "severities": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "severity": "COMMONOCCURRENCE"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "severity": "CRISISSITUATION"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report parent types collection [/tunnels/{tunnelId}/reports/parent-types]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report parent types collection [GET]
-----------
**Returns all report parent types.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportParentType)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "parentTypes": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "code": "010",
                        "name": "Požár v tunelu"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "code": "020",
                        "name": "Jiné nebezpečí"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report types by parent type collection [/tunnels/{tunnelId}/reports/parent-types/{id}/types]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.
    + id (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `id`which can identify report parent type.

### Get report types collection by parent type id [GET]
-----------
**Returns all report types by parent type id.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportType)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "types": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "code": "011",
                        "name": "Požár v dopravním prostoru",
                        "priority": 5
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "code": "012",
                        "name": "Požár v technologickém prostoru",
                        "priority": 1
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report sources collection [/tunnels/{tunnelId}/reports/sources]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report sources collection [GET]
-----------
**Returns all report sources.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportSource)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "sources": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "source": "SMS"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "source": "Email"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "source": "CCTV dohled"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "source": "Telefon"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503

## Report states collection [/tunnels/{tunnelId}/reports/states]

+ Parameters
    + tunnelId (required, string, `e27164e8-f8cd-47df-a5af-1c121e9aa94a`) ... String `tunnelId`which can identify tunnel.

### Get report states collection [GET]
-----------
**Returns all report states.**

+ Request
    + Header
    
            Content-Type: application/json
            X-Api-Key: <your-private-token-key>

+ Response 200 (application/json)

    + Attributes (ReportState)
    
    + Header

             X-Time: 2014-09-11T17:02:27.761+02:00
    
    + Body 
    

            {
                "states": [
                      {
                        "id": "e27164e8-f8cd-47df-a5af-1c121e9aa94a",
                        "state": "NEW"
                      },
                      {
                        "id": "b63b6226-0978-4155-8249-1ca396f6c7e7",
                        "state": "DONE"
                      }
                ]
            }
        
+ Response 401
+ Response 403
+ Response 404
+ Response 405
+ Response 406
+ Response 500
+ Response 503